<h4>Agregar personaje</h4>

<form class="row" (ngSubmit)="emitCharacter()">

  <input
    type="text"
    [(ngModel)]="character.name"
    name="name"
    class="form-control mb-2"
    placeholder="Nombre">

  <input
    type="number"
    [(ngModel)]="character.power"
    name="power"
    class="form-control mb-2"
    placeholder="Poder">

  <button
    type="submit"
    class="btn btn-primary" > Agregar </button>
    <!-- antes en el button tenia este evento
    (click)="emitCharacter()"
    el cual no era correcto.
    Para eso se le agrega un evento al form-->

  <!-- <pre> {{ character | json }} </pre> -->
  <!-- | json, se llama pipe -->

</form>
